<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>上传</title>
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        <script src="../static/js/main.js"></script>
        <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    </head>

    <body>
        <div id="idImageFrame">
            <img class="imageBg" src="../static/img/bg.png" alt="">

            <div class="imageBiao" id="idBoxBiao">
                <img class="smallImage" id="idImgBiao" src="" alt="">
            </div>

            <div class="imageLi" id="idBoxLi">
                <a id="idALi" href="" target="_blank">
                    <img class="smallImage" id="idImgLi" src="" alt="">
                </a>
            </div>

            <div class="imageMix" id="idBoxMix">
                <a id="idAMix" href="" target="_blank">
                    <img class="smallImage" id="idImgMix" src="" alt="">
                </a>
            </div>
        </div>

        <br><button id="idBtnMix" style="VISIBILITY: hidden">合成图片</button><br>
        <br><button id="idBtnUnMix" style="VISIBILITY: hidden">解密图片</button><br>
    </body>

</html>